---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>
      <span class="text-gradient text-2xl font-bold"
        >Hum, how did you get here?</span
      >
    </h1>
    <h2 class="mt-5 text-xl">You might want to visit:</h2>
    <ul role="list" class="mb-16 mt-6 flex flex-col gap-y-4">
      <Card
        href="https://cedric.nicoloso.me/"
        title="ðŸ‘¤ Â My homepage"
        body="A few lines on who I am and what I do."
      />
      <Card
        href="https://ages-and-birthdays.nicoloso.me/"
        title="ðŸŽ‚ Â Ages & Birthdays"
        body="Can't remember ages and birthdays? Me neither..."
        badge="beta"
      />
      <Card
        href="https://s3-photos.nicoloso.me/"
        title="ðŸ–¼ï¸ Â S3 Photos"
        body="Safely backup all your photos."
        badge="beta"
      />
      <!--<Card-->
      <!--  href="https://light-transactions.nicoloso.me/"-->
      <!--  title="ðŸ¦ Â Light transactions"-->
      <!--  body="Browse and search through your banking transactions."-->
      <!--  badge="alpha"-->
      <!--/>-->
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
